@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
body{
font-family: 'IBM Plex Mono', monospace;
display: grid;
font-weight:bold;

}


.parallax.portfolio{
    /* The image used */

background-image: url('../images/background7.jpg');
    /* Set a specific height */
    height: 500px;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#tagline{
  font-size: 3em;
}

.hover-beige:hover{
  background: beige;
  opacity:.7;
}


.portfolio-container{
  display:flex;
  flex-flow: wrap;
  justify-content: center;

}
.blog-item{
  width: 30%

}


footer{
  display:flex;
  justify-content:

}


.portfolio-item{
  display:wrap;
    text-align: center;
    margin: 1em;
    width:30%;
}

.portfolio-item a{
  font-size: 3em;
  text-decoration: none;
  color:#7B68EE



}

.portfolio-item a:visited{
  color:#005253;

}

.portfolio-item:hover{
  background-color: grey;
  border-radius:5%;
}

footer{
  display:flex;
  justify-content: flex-end;
  text-align: center;
}

footer img{
  max-height: 20px
}
